<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Juizys Coffee</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
</head>

<body>
  <head>
    <h1>Juizys Coffee</h1>
    <p>Coffe and buns everyday</p>
  </head>

  <main>
    <h2>Visit us</h2>
    <p><strong>Address:</strong> Drottning Kristinas väg 4, 114 28 Stockholm</p>

    <h2>Opening hours</h2>
    <table>
      <tr><td>Everyday</td><td>7:00 - 21:00</td></tr>
      <tr><td>Saturday</td><td>7:00 - 24:00</td></tr>
      <tr><td>Sunday</td><td>Closed</td></tr>
    </table>

    <h2>Student Discount</h2
      <p><strong>10% discount for all students with valid student ID</strong></p>

  </main>

</body>
</html>
